*,
*::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	color: #293264;
	background-color: #f5f7fb;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}

.blue-svg {
	z-index: -1;
	position: fixed;
	left: -30rem;
	bottom: -30rem;
	transform: rotate(280deg);
}

.yellow-svg {
	z-index: -1;
	position: fixed;
	right: -30rem;
	top: -30rem;
	transform: rotate(-20deg);
}

h1,
h2 {
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}

button {
	font-family: inherit;
	font-size: inherit;
}
